header{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: center;
}
.menu-mobile > nav {
   position: absolute;
   width: 300px;
   top: 15%;
}
.banner{
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-x{
  -webkit-justify-content: space-around; 
  justify-content: space-around;
}

img.img-product{
  width: 500px;
  height: 300px;
}
/*
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: transparent;
  }
  
  .banner:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  */
  